body {
	padding: 0;
	margin: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.clearfix { zoom: 1; }
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.rfloat { float: right; }
.lfloat { float: left; }